html {
  background-color: hsl(0, 0%, 95%) ;
  width: 100%;
  box-sizing: border-box;

  padding: 0 1rem;
  max-width:60rem;
  font-weight: 800;
  line-height: 2rem;
}

* {
  font-family: 'Pretendard Variable';
  font-size: 1.2rem;
}

h1 {
  font-size: 2rem;
}

a, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-position: inside;
  line-height: 2rem;
  padding-left: 0;
}

.keyword {
  list-style: none;
}

li {
  padding-left: 1rem;
}

.grid {
  position: relative;
  display: grid;
  padding: 1rem;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-flow: dense;

  /*
  background-color: wheat;
  border-style: solid;.
  */
}

.cell {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;

  margin-bottom: 2rem;

  /*
  background-color: violet;
  border-style: dotted;
  border-color: red;
  */
}

.poster {
  z-index: 4;
  position: absolute;
  height: 100%;
  aspect-ratio: 2/3;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  /*
  border-color: aqua;
  border-width: 2px;
  border-style: solid;
  */
}

.poster img {
  position: absolute;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


}

.comment {
  z-index: 3;
  position: absolute;
  height: 100%;
  aspect-ratio: 2/3;

  /*
  border-color:chartreuse;
  border-width: 3px;
  border-style: solid;
  */
}

.comment p {
  display: block;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: .8rem 0.6rem ;
  box-sizing: border-box;


  color: white;
  font-size: .7rem;
  line-height: 1.2rem;
  word-break: break-all;
  text-align: justify;
  text-align-last: left;

  background-color: hsl(0, 0%, 10%) ;
  /* border-style: dashed; */
}

.poster:hover + .comment,
.comment:hover {
  transform: translateX(15%) rotate(8deg);
}

.posts {
  float:left; background:#000; color:#fff;
  padding:0.2em; text-align:center;
}

.container {
  width: 100%;
  height: 20rem;
  border: 1px solid;
  border-radius: 50%;
  width:50em; max-width:100%;
}